<!-- homepage -->


<head>
    <title>Play Blackjack!</title>
    <meta charset="utf-8">

    <style>
    	p{
    		color: black;
    		font-family: Arial;
    		font-size: 16px;
    	}

    	#important_p {
    		color: goldenrod;
    		font-size: 12 em;
    	}
    </style>
</head>

<body>
	<div style="float:center; padding:100px; width:1000px; background-color:black; border-radius:5px; border: 1px blue; margin-right:5px;">
	  	<center>
		    <h1 style="color:blue">
		    	<strong>
		    		<center>Blackjack</center>
		    	</strong>
		    </h1>

		    <p>
		      <span style="color: orange;"><strong>Welcome to the Blackjack Game Page</strong></span><br>
		    </p>

		    <center>
		    	<img src="http://casinoallbonus.com/images/blackjack-21.gif">
		</center>
	</div>

	    <br>
	    <br>
	    <br>

	
 	<br>
	<div style="float:center; padding:10px; width:200px; background-color:#eee; border-radius:5px; border: 1px blue; margin-right:5px;">
		<!-- <center> -->
			<img src="http://png-3.findicons.com/files/icons/2315/default_icon/128/padlock_closed.png">
			<a href="/login"> Login </a>
		<!-- </center> -->
	</div>
	<br>
	Don't have an account? Click <a href="/register">here</a>


</body>