
Register
<br>
<head>
    	<title>Create your account</title>
    	<meta charset="utf-8">
</head>

<body>
	<div style="float:center; padding:10px; width:200px; background-color:#eee; border-radius:5px; border: 1px blue; margin-right:5px;">
		<form name="input" action="/new_user" method="post">
			Your Name: <input type="text" name="name">
			Username: <input type="text" name="user_id">
			<br>
			Password: <input type="text" name="password">
			<br>
			Birthday: <input type="text" name="birthdate">

			<input type="submit" value="Create Account">
		</form>
		</div>
</body>
