
<html lang="en">
  <head>
    <title>Play Blackjack!</title>
    <meta charset="utf-8">

    <style>
    	p{
    		color: black;
    		font-family: Arial;
    		font-size: 16px;
    	}

    	#important_p {
    		color: goldenrod;
    		font-size: 12 em;
    	}
    </style>
  </head>

    <h1 style="color:blue"> <strong>Blackjack</h1></strong>
    <p>
      <span style="color:red;"><strong>Welcom to the Blackjack Game Page</strong></span><br>
     <!--  Pixels are <span style="color:blue;">blue</span><br>
      This is <strong>text<i style="font-size:30px;">HTML</i></strong><br>
      And well-formed <span style="font-size:1.1em;">woohoo!</span>
 -->    </p>

    <img src="http://casinoallbonus.com/images/blackjack-21.gif">

    <br>
    <br>
    <br>

  <div style="float:center; padding:10px; width:200px; background-color:#eee; border-radius:5px; border: 1px blue; margin-right:5px;">
    <img src="http://www.drevancollins.com/images/small-play-button.png">
    <a href="/games/new"> Start a New Game </a>
  </div>

  <body>

  <p><strong>Listing all games... </strong></p>
  <% @game.each do |game| %>
    <p id="important_p">
      <%=  game.id %>
      : 
      <%= game.name %>
    </p>
  <% end %>


<br>
    <p style="color:black;"><strong>Basic Blackjack Rules</strong></p><br>
    <p style="color:green">The goal of blackjack is to beat the dealer's hand without going over 21. <br>
Face cards are worth 10. Aces are worth 1 or 11, whichever makes a better hand.<br>
Each player starts with two cards, one of the dealer's cards is hidden until the end.<br>
To 'Hit' is to ask for another card. To 'Stand' is to hold your total and end your turn.<br>
If you go over 21 you bust, and the dealer wins regardless of the dealer's hand.<br>
If you are dealt 21 from the start (Ace and 10), you got a blackjack.<br>
Blackjack usually means you win 1.5 the amount of your bet. Depends on the casino.<br>
Dealer will hit until his/her cards total 17 or higher.<br>
Doubling is like a hit, only the bet is doubled and you only get one more card.<br>
Split can be done when you have two of the same card - the pair is split into two hands.<br>
Splitting also doubles the bet, because each new hand is worth the original bet.<br>
You can only double/split on the first move, or first move of a hand created by a split.<br>
You cannot play on two aces after they are split.<br>
You can double on a hand resulting from a split, tripling or quadrupling you bet.</p>

<!-- 

	<span style="color:green">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus  -->






  </body>
</html>
